.btn-space {
    color: #333;
    background-image: url('/vendor/assets/images/twitter-space.png');
    border-color: #ccc;
}

.btn-space{
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-space:active{
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-space.disabled,
fieldset[disabled] .btn-space{
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-space .badge{
  text-shadow: none;
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-space {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e0e0e0));
  background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-space:hover,
.btn-space:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.btn-space:active,
.btn-space.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-space.disabled,
.btn-space[disabled],
fieldset[disabled] .btn-space,
.btn-space.disabled:hover,
.btn-space[disabled]:hover,
fieldset[disabled] .btn-space:hover,
.btn-space.disabled:focus,
.btn-space[disabled]:focus,
fieldset[disabled] .btn-space:focus,
.btn-space.disabled.focus,
.btn-space[disabled].focus,
fieldset[disabled] .btn-space.focus,
.btn-space.disabled:active,
.btn-space[disabled]:active,
fieldset[disabled] .btn-space:active,
.btn-space.disabled.active,
.btn-space[disabled].active,
fieldset[disabled] .btn-space.active {
  background-color: #e0e0e0;
  background-image: none;
}